{% extends 'base.html.twig' %}

{% block title %}
    Nouveau projet
{% endblock %}

{% block body %}

    {% include 'base/nav.html.twig' %}
    <h1 class="text-center py-5">
        Créer un nouveau risque
    </h1>

    {{ include('project/risk/_form.html.twig') }}

        <a href="{{ path('app_homepage') }}"><i class="fa-solid fa-arrow-left-long fa-2x"></i></a>

    {% include 'base/footer.html.twig' %}

{% endblock %}